<nav class="nav nav-inline">
  <%= link_to 'New', new_wanted_domain_path, class: 'nav-link btn btn-outline-primary' %>
  <%= link_to 'Within Day', wanted_domains_path, class: 'nav-link btn btn-outline-primary' %>
  <%= link_to 'Within Month', wanted_domains_expiring_within_month_path, class: 'nav-link btn btn-outline-primary' %>
  <%= link_to 'See All', wanted_domains_all_path, class: 'nav-link btn btn-outline-primary' %>
  <%= link_to 'Check All', wanted_domains_check_all_path, class: 'nav-link btn btn-outline-primary' %>
</nav>
