<div class="container wanted-domains-container">
  <%= render "navigation" %>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>TLD</th>
        <th>First Registered</th>
        <th>Last Updated</th>
        <th>Expiry</th>
        <th>Grace Period Ends</th>
        <th>Backorder</th>
        <th>Status</th>
        <th>Owner Name</th>
        <th>Organization Name</th>
      </tr>
    </thead>
    <tbody>
      <% @wanted_domains.each do |domain| %>
        <tr class="<%= domain.is_available_css_class %>">
          <th><%= link_to domain.name, wanted_domain_path(domain.id) %></th>
          <th><%= domain.tld %></th>
          <th><%= domain.pretty_date(domain.first_registered_date) %></th>
          <th><%= domain.pretty_date(domain.last_updated_date) %></th>
          <th><%= domain.pretty_date(domain.expiry_date) %></th>
          <th><%= domain.pretty_date(domain.grace_period_ends_date) %></th>
          <th><%= domain.backorder %></th>
          <th><%= domain.status %></th>
          <th><%= domain.owner_name %></th>
          <th><%= domain.organization_name %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
