<div class="container wanted-domains-container">
  <nav class="nav nav-inline">
    <%= link_to 'See All', wanted_domains_all_path, class: 'nav-link btn btn-outline-primary' %>
    <%= link_to 'Within Month', wanted_domains_expiring_within_month_path, class: 'nav-link btn btn-outline-primary' %>
  </nav>

  <h1>Domains being released within the next month</h1>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>TLD</th>
        <th>Grace Period Ends</th>
        <th>Backorder</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @domains_being_released_in_month.each do |domain| %>
        <tr class="<%= domain.is_backordered_css_class %>">
          <th><%= link_to domain.name, wanted_domain_path(domain.id) %></th>
          <th><%= domain.tld %></th>
          <th><%= domain.pretty_date(domain.grace_period_ends_date) %></th>
          <th><%= domain.backorder %></th>
          <th>
            <button class="btn <%= domain.is_interested_css_button_color %> btn-sm interested-domain" value="<%= domain.id %>"><%= domain.is_interested_button_text %></button>
            <button class="btn btn-primary btn-sm check-domain" value="<%= domain.id %>"><%= domain.is_being_checked_button_text %></button>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
