<div class="container">
  <nav class="nav nav-inline">
    <%= link_to 'See All', wanted_domains_all_path, class: 'nav-link btn btn-outline-primary' %>
  </nav>

  <h1>Domains being released within the next month</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>TLD</th>
        <th>Grace Period Ends</th>
        <th>Backorder</th>
      </tr>
    </thead>
    <tbody>
      <% @wanted_domains_being_released.each do |domain| %>
        <tr class="<%= domain.is_backordered_css_class %>">
          <th><%= domain.name %></th>
          <th><%= domain.tld %></th>
          <th><%= domain.pretty_date(domain.grace_period_ends_date) %></th>
          <th><%= domain.backorder %></th>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
