<div class="container wanted-domains-container">
  <%= render "navigation" %>

  <%= form_for @wanted_domain, url: {action: 'create'} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= fields_for :wanted_domain do |field| %>
      <%= field.select :tld, options_for_select(@tlds) %>
    <% end %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>
