<div class="container wanted-domains-container">
  <nav class="nav nav-inline">
    <%= link_to 'See All', wanted_domains_all_path, class: 'nav-link btn btn-outline-primary' %>
    <%= link_to 'Within Month', wanted_domains_expiring_within_month_path, class: 'nav-link btn btn-outline-primary' %>
  </nav>

  <h1 class="list-inline-item"><%= @wanted_domain.name_with_tld %></h1><a href="http://<%= @wanted_domain.name_with_tld %>" target="_blank"><span class="tag tag-primary">&nearr;</span></a>

  <dl>
    <dt>First Registered Date</dt>
    <dd><%= @wanted_domain.pretty_date(@wanted_domain.first_registered_date) %></dd>
    <dt>Last Updated Date</dt>
    <dd><%= @wanted_domain.pretty_date(@wanted_domain.last_updated_date) %></dd>
    <dt>Expiry Date</dt>
    <dd><%= @wanted_domain.pretty_date(@wanted_domain.expiry_date) %></dd>
    <dt>Grace Period Ends Date</dt>
    <dd><%= @wanted_domain.pretty_date(@wanted_domain.grace_period_ends_date) %></dd>
    <dt>Backorder Status</dt>
    <dd><%= @wanted_domain.backorder %></dd>
    <dt>Domain Status</dt>
    <dd><%= @wanted_domain.status %></dd>
    <dt>Owner Name</dt>
    <dd><%= @wanted_domain.owner_name %></dd>
    <dt>Organization Status</dt>
    <dd><%= @wanted_domain.organization_name %></dd>
  </dl>

  <a href="http://nic.io/go/whois/<%= @wanted_domain.name_with_tld %>" target="_blank" class="btn btn-primary">WHOIS</a>
  <a href="http://dnpric.es/?q=<%= @wanted_domain.name %>" target="_blank" class="btn btn-primary">DNPric.es</a>
  <a href="http://similarweb.com/website/<%= @wanted_domain.name_with_tld %>" target="_blank" class="btn btn-primary">SimilarWeb</a>
  <a href="http://estibot.com" target="_blank" class="btn btn-primary">Estibot</a>
  <a href="http://app.park.io/domains/view/<%= @wanted_domain.name_with_tld %>" target="_blank" class="btn btn-primary">Park.io</a>
  <a href="https://app.park.io/orders/pay/<%= @wanted_domain.name_with_tld %>" target="_blank" class="btn btn-primary">Park.io Pay Now</a>
  <button class="btn <%= @wanted_domain.is_interested_css_button_color %> interested-domain" value="<%= @wanted_domain.id %>"><%= @wanted_domain.is_interested_button_text %></button>
</div>
